{% extends 'back/base.html' %}

{% load static %}

{% block content %}
<div class="content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-body table-full-width table-responsive">
                    <form class="form-horizontal" method="POST">
                      {% csrf_token %}
                      <div class="card-header">
                        <h4 class="card-title">
                          <center>{{title}}</center>
                        </h4>
                      </div>

                    <div class="card-content">
                      <div class="form-group">
                        <label class="col-md-3 control-label"><b style="color:black;">Judul</b></label>
                        <div class="col-md-15">
                          <!-- <input name="judul" type="text" placeholder="" class="form-control"> -->
                          {{forms_artikel.judul}}
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-3 control-label"><b style="color:black;">Body</b></label>
                        <div class="col-md-15">
                          <!-- <textarea name="body" id="" cols="30" rows="10" class="form-control"></textarea> -->
                          {{forms_artikel.body}}
                        </div>
                      </div>                      
                      <div class="form-group">
                        <label class="col-md-3 control-label"><b style="color:black;">Kategory</b></label>
                        <div class="col-md-15">
                            {{forms_artikel.kategory}}
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary" >Submit</button>
                    </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>



{% endblock content %}

{% block js %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

{% endblock js %}